  .btn-lg {
    text-decoration: none;
    font-size: 1.8rem !important;
    font-weight: 500;
    padding: 35px 15px 35px 35px;
    display: flex;
    color: #fff;
    margin: 0;
    background: #e50914;
    text-align: center;
    max-height: 70px !important;
    align-content: flex-start;
    justify-content: center;
    align-items: center;
  }
  
  .btn-lg:hover {
    background: #fd1c27;
  }

  /* inner container title and text style */
  
  .inner-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
    line-height: 1.25;
  }

   .inner-title {
    font-size: 4rem;
    width: 44%;
    line-height: 4.375rem;
  }
  .inner-text{
    font-size: 1.625rem;
    width: 40%;
    margin: 1rem auto;
  }  
  /* email form */
  
  .email-form {
    margin: 1rem;
  }
  .email-form .get-started {
    display: flex;
    height: 80%;
  }

  .chevronRigth{
  max-height: 22px;
    font-weight: bold;
    margin-left: 13px;
  }

  .email-form .get-started > input {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    height: 70px!important;
    min-width: 500px;
    text-indent: 10px;
  }
  
  .email-form .btn-lg {
    border-radius: 0 2px 2px 0;
  }
  
  /* header */
  .header {
    height: 102vh;
    position: relative;
    background: url("https://assets.nflxext.com/ffe/siteui/vlv3/1ef84595-1fdb-4404-adac-15215ceeb3ae/23df31f8-deed-416a-8958-a2aab3b3da48/ES-es-20220711-popsignuptwoweeks-perspective_alpha_website_large.jpg")
      no-repeat center center/cover;
    box-shadow: inset 0 50px 300px #000, inset 0 -50px 300px #000;
    border-bottom: 10px #333 solid;
  }
  
  /* brightness and vignette effect*/
  .overlay {
    height: 100%;
    width: 100%;
    background: #000;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0.4;
  }
  
  .inner-text-membership{
    font-size: 1.2rem;
    max-width: none;
    padding-bottom: 15px;
  }

  .container-video{
    height: 100%;
    left: 50%;
    max-height: 54%;
    max-width: 73%;
    position: absolute;
    top: 48%;
    transform: translate(-50%,-50%);
    width: 100%;
  }

  .container-img-video{
    overflow: hidden;
    position: relative;
  }

.border-bottom-hr{
  border-bottom: 10px #333 solid;
}

.download-text{
  align-items: center;
  background: #000;
  border-radius: 0.75em;
  bottom: 8%;
  box-shadow: 0 0 2em 0 #000;
  display: flex;
  left: 50%;
  min-width: 15em;
  padding: 0.25em 0.65em;
  transform: translateX(-50%);
  overflow: hidden;
  position: relative;
  justify-content: flex-start;
  min-height:100px;
}
.download-icon{
  background: url(https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/download-icon.gif) 50% no-repeat;
  background-size: 100%;
  content: "";
  display: block;
  flex-grow: 0;
  flex-shrink: 0;
  height: 3em;
  outline: 2px solid #000;
  outline-offset: -2px;
  width: 3em;
  margin-left:100px;
}
  /* Media queries */
  @media (max-width: 1449px) { 
    .header {
      height: 90vh;
    }
  }

  @media (max-width: 1386px) { 
    .inner-title {
        width:50%;
    }
  }

  @media (max-width: 1171px) { 
    .inner-title {
        width:80vw;
        margin-top: 10rem;
    }
  
    .inner-title h1{
      margin-top: 0px;
    }
  }

  @media (max-width: 1086px) { 
    .download-icon {
      margin-left: 50px;
    }
  }

  @media (max-width: 1008px) { 
    .download-icon {
      margin-left: 0px;
    }

    .download-text{
      margin-top: -7rem;
    }
  }

  @media (max-width: 770px) { 
    .btn-lg {
        font-size: 1rem !important;
    }
  }

  @media (max-width: 692px) { 
    .chevronRigth {
        margin-left: 0px;
    }
  }

  @media (max-width: 636px) { 
    .email-form .get-started {
        display: flex;
        flex-direction: column;
    }

    .email-form .get-started > input {
      min-width: 70vw;
    }

    .inner-title {
        font-size: 2.9rem;
    }

    .header {
        height: 80vh;
    }
  }

  @media (max-width: 550px) { 
    .inner-title {
     font-size: 2.5rem;
     line-height: inherit;
  }
  }

  @media (max-width: 500px) { 
  .inner-title {
      font-size: 2rem;
      line-height: 50px;
      width: 80vw;
  }

  .inner-text {
    font-size: 1.5rem;
    min-width:80vw;
  }

  .inner-text-membership {
    font-size: 1rem;
  }

  .logo > img {
    width: 100px;
  }
  }

  @media (max-width: 283px) { 
    .inner-title {
      margin-top: 250px;
  }
  }
  
  


  
 



  