  /* logo */
  
  .logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top:1rem;
    padding-bottom:1rem;
    position: relative;
    z-index: 1;
  }
  
  .logo > img {
    width: 100px;
  }

  @media (max-width: 359px) { 
    .buttonsNavbar {
      display: flex;
      text-align: center;
      flex-direction: column;
    }
  }

  @media (max-width: 280px) { 
    .buttonsNavbar {
      display: flex;
      text-align: center;
      flex-direction: column;
    }

    .inner-title{
      margin-top:250px;
    }

    .inner-title h1{
      margin-top:0px;
    }
  }

  .nav-active {
    background-color:rgba(0, 0, 0, 0);
    box-shadow: 5px -1px 12px -5px grey;
    opacity: 0;
  }
  
  .inactive{
    color:rgb(211, 207, 207);
  }

  .active{
    color:white;
  }